<?php

// Informations from the Twinoid application settings page
const APP_TWINOID_ID   = 000;
const APP_SECRET_KEY   = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx";
const APP_REDIRECT_URI = "http://dinomap.twinpedia.com/redir.php";

// Connection to the database
const DB_HOST = "localhost";
const DB_USER = "xxxxxxxxx";
const DB_PASS = "yyyyyyyyy";
const DB_NAME = "zzzzzzzzz";

?>
